{% extends "basetemplate.html" %}
<html>
<head>
</head>

<body>
{% block content %}

<form action = 'register' method = 'post' >
{% csrf_token %}
<center>
<div>
<br><br><br><br><br><br><br><br>
<h1> Register here ... </h1>
<br>
<input type="text" name="username" placeholder="username"><br><br>
<input type="password" name="password" placeholder="password"><br><br>
<input type = "Submit" >
</div>
</center>
</form>

<div>
{% for message in messages %}
<h2> {{message}} </h2>
{% endfor %}
</div>

<br><br><br><br><br><br>
{% endblock %}


</body>
</html>